* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #fef6d8;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

main {
	display: block;
	margin: 0 auto;
    padding: 0 2em;
    width: 100%;
    min-height: 85vh;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ee7070;
    transition: 0.3s;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fef6d8;
    text-indent: 20px;
    height: 80px;
    border: 0px;
    overflow: hidden;
}

.nav-button {
    display: none;
}

.nav-button span {
    display: block;
    width: 30px;   
    height: 3px; 
}

.nav-content {
    display: flex;
    float: right;
    list-style: none;
}

.nav-content li {
    margin-right: 1em;
}

#nav-check {
	display: none;
}

header h1 {
    display: inline-block;
    font-size: 1.3em;
}

.container {
    display: flex;
    text-align: center;
    min-height: 100vh;
    background-image: url("./assets/header.jpg");
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container h1 {
    display: inline-block;
    line-height: 2em;
    color: #fef6d8;
    font-size: 3em;
    font-weight: bold;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.container h2 {
    font-size: 2.5em;
    line-height: 1;
    color: #fef6d8;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.container button {
    color: #fef6d8;
    font-size: 1.5em;
    background-color: black;
    margin-top: 1em;
    border-color: #fef6d8;
    border-width: 1px;
    padding: 1em;
}

header h1 {
    color: #fef6d8;
}

h1 {
    font-size: 30px;
    color: #282828;
    text-align: center;
}

.location  {
    text-align: center;
    color: #282828;
    margin-bottom: 10px;
}

.location h1 {
    margin: 1em;
}

.location iframe {
    width: 100%;              
    max-width: 90vw;          
    height: 70vh;           
         
}

.overview-text {
    word-spacing: 3px;
    margin: 50px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.grid1 {
    color: #282828;
    padding: 1em;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

.gallery-grid {
   padding: 1vw;
   flex-flow: row wrap;
   display: flex;
}

.gallery-grid div {
    flex: auto;
    width: 400px;
    margin: 1vw;
}

.gallery-grid img {
    width: 100%;
    height: auto;
}

.grid2 {
    padding: 1em;
    margin-bottom: 10px;
}

#roasts .item {
    padding: 0 10%;
}

#roasts .item img {
    width: 100%;
}

.roast-title {
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}
.description {
    list-style: none;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    word-spacing: 1px;
    margin-top: 10px;
}

.description-title {
    font-weight: bold;
    font-style: normal;
    padding-right: 1px
}

.grid3 {
    color: #282828;
    padding: 1em;
}

.grid3 h1, p {
    text-align: center;
    line-height: 1;
    font-family:Arial, Helvetica, sans-serif;
}

footer a {
    color: #ee7070;
}

footer p {
    margin-right: 0.2em;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

footer {
    background: black;
	color: white;
	text-align: center;
	bottom: 0;
	width:100%;
	padding: 1em 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.footer-title {
    font-weight: bold;
}

@media (max-width:800px) {
	.nav-button {
		display: inline-block;
		position: absolute;
        width: 50px;
        height: 50px;
		right: 10px;
		top: 23px;
        font-size: 30px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
	}

    .nav-content {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #412424;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 70px;
		left: 0px;
        margin-top: 10px;
	}

    .nav-content li {
        margin-top: 2em;
    }

    .nav-button > label:hover {
		background-color: rgba(0, 0, 0, 0.3);
	}

    #nav-check:not(:checked) + .nav-content {
		height: 0px;
	}

	#nav-check:checked + .nav-content {
		height: calc(100vh - 80px);
		overflow-y: auto;
	}
    
   .container h1 {
        font-size: 2.3em;
   } 

   .container h2 {
        font-size: 1.8em;
   }

   .container button {
        font-size: 1em;
   }

    .list-grid {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.item {
		padding: 5px;
		width: 100%;
		height: auto;
		margin-top: 10px;
		color: black;
		text-align: left;
	}
}


@media screen and (max-width: 400px) {
	.gallery-grid div { 
        margin: 0; 
    }

	.gallery-grid { 
        padding: 0; 
    }

    header h1 {
        font-size: 1em;
    }

    .container h1 {
        font-size: 1.8em;
   } 

   .container h2 {
        font-size: 1.5em;
   }

   .container button {
        font-size: 0.8em;
   }

}

@media screen and (max-width: 260px) {
    header h1 {
        font-size: 0.6em;
    }
}
